<!-- <head>
	<link rel="stylesheet" href="css/footer/footer-distributed-with-address-and-phones.css">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
	<link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">
</head> -->
	<body>
		<!-- The content of your page would go here. -->
		<footer class="footer-distributed">

			<div class="footer-left">

				<h3>Homey</h3>

				<p class="footer-links">
					<a href="index.html">Home</a>
					·
					<a href="hobbies.html">Hobbies</a>
					.
					<a href="#">Skills</a>
					·
					<a href="#">Future plan</a>
				</p>

				<p class="footer-company-name">Homey &copy; 2017</p>
			</div>

			<div class="footer-center">

				<div>
					<i class="fa fa-map-marker"></i>
					<p><span>Monash University, Caulfied East</span> Melbourne, Victoria</p>
				</div>

				<div>
					<i class="fa fa-phone"></i>
					<p>0426731818</p>
				</div>

				<div>
					<i class="fa fa-envelope"></i>
					<p><a href="mailto:support@company.com">jzhu130@student.monash.edu</a></p>
				</div>

			</div>

			<div class="footer-right">

				<p class="footer-company-about">
					<span>About the Homey</span>
					Our team aims to help people who are homeless or at the risk of being homeless to step out the gloomy life, they can explore more in the world, find more and deserve more.
				</p>
				<div class="footer-icons">
					<a href="#"><i class="fa fa-facebook"></i></a>
					<a href="#"><i class="fa fa-twitter"></i></a>
					<a href="#"><i class="fa fa-linkedin"></i></a>
					<a href="#"><i class="fa fa-github"></i></a>

				</div>

			</div>

		</footer>

	</body>

</html>
