<!-- Footer -->
<div class="g-bg-black-opacity-0_9 g-color-white-opacity-0_8 g-py-60">
	<div class="container">
		<div class="row">
			<!-- Footer Content -->
			<div class="col-lg-4 col-md-6 u-divider-center g-mt-30">
				<div class="u-heading-v2-3--bottom g-brd-white-opacity-0_8 g-mb-20">
					<h2 class="u-heading-v2__title h6 text-uppercase mb-0">About Homey</h2>
				</div>

				<p>Homey aims to help youth who are at the risk of being homeless to step out the gloomy life, they can explore more in
					the world, find more and deserve more.</p>
			</div>
			<!-- End Footer Content -->

			<!-- Footer Content -->
			<div class="col-lg-4 col-md-6 u-divider-center g-mt-30">
				<div class="u-heading-v2-3--bottom g-brd-white-opacity-0_8 g-mb-20">
					<h2 class="u-heading-v2__title h6 text-uppercase mb-0">Share around the world</h2>
				</div>

				<nav class="text-uppercase1">
					<ul class="list-unstyled  mb-0">
						<ul class="list-inline">
							<li class="list-inline-item"><a
								class="u-icon-v1 g-color-gray-dark-v4 g-bg-secondary g-bg-primary--hover g-color-white--hover rounded-circle" href="#">
									<i class="fa fa-fw fa-facebook" style="margin-left: 5px;"></i>
							</a></li>
							<li class="list-inline-item"><a
								class="u-icon-v1 g-color-gray-dark-v4 g-bg-secondary g-bg-primary--hover g-color-white--hover rounded-circle" href="#">
									<i class="fa fa-fw fa-google-plus" style="margin-left: 5px;"></i>
							</a></li>
							<li class="list-inline-item"><a
								class="u-icon-v1 g-color-gray-dark-v4 g-bg-secondary g-bg-primary--hover g-color-white--hover rounded-circle" href="#">
									<i class="fa fa-fw fa-twitter" style="margin-left: 5px;"></i>
							</a></li>
							<li class="list-inline-item"><a
								class="u-icon-v1 g-color-gray-dark-v4 g-bg-secondary g-bg-primary--hover g-color-white--hover rounded-circle" href="#">
									<i class="fa fa-fw fa-linkedin" style="margin-left: 5px;"></i>
							</a></li>
							<li class="list-inline-item"><a
								class="u-icon-v1 g-color-gray-dark-v4 g-bg-secondary g-bg-primary--hover g-color-white--hover rounded-circle" href="#">
									<i class="fa fa-fw fa-dribbble" style="margin-left: 5px;"></i>
							</a></li>
						</ul>
					</ul>
				</nav>
			</div>
			<!-- End Footer Content -->

			<!-- Footer Content -->
			<div class="col-lg-4 col-md-6 u-divider-center  g-mt-30">
				<div class="u-heading-v2-3--bottom g-brd-white-opacity-0_8 g-mb-20">
					<h2 class="u-heading-v2__title h6 text-uppercase mb-0">Our Contacts</h2>
				</div>

				<address class="g-bg-no-repeat g-font-size-12 mb-0">
					<!-- Location -->
					<div class="d-flex g-mb-10">
						<div class="g-mr-10">
							<span class="u-icon-v3 u-icon-size--xs g-bg-white-opacity-0_1 g-color-white-opacity-0_6">
								<i class="fa fa-map-marker"></i>
							</span>
						</div>
						<p class="g-mt-10">
							Caulfield Campus, Monash University, Melbourne
						</p>
					</div>
					<!-- End Location -->

					<!-- Phone -->
					<div class="d-flex g-mb-10">
						<div class="g-mr-10">
							<span class="u-icon-v3 u-icon-size--xs g-bg-white-opacity-0_1 g-color-white-opacity-0_6">
								<i class="fa fa-phone"></i>
							</span>
						</div>
						<p class="g-mt-10">0426731818</p>
					</div>
					<!-- End Phone -->

					<!-- Email and Website -->
					<div class="d-flex g-mb-10">
						<div class="g-mr-10">
							<span class="u-icon-v3 u-icon-size--xs g-bg-white-opacity-0_1 g-color-white-opacity-0_6">
								<i class="fa fa-envelope-o"></i>
							</span>
						</div>
						<p class="g-mt-8">
							<a class="g-color-white-opacity-0_8 g-color-white--hover" href="#">jzhu130@student.monash.edu</a> <br>
						</p>
					</div>
					<!-- End Email and Website -->
				</address>
			</div>
			<!-- End Footer Content -->
		</div>
	</div>
</div>
<!-- End Footer -->
<!-- Copyright Footer -->
<footer class="g-bg-gray-dark-v1 g-color-white-opacity-0_8 g-py-20">
	<div class="container">
		<div class="row">
			<div class="col-md-8 text-center text-md-left g-mb-10 g-mb-0--md">
				<div class="d-lg-flex">
					<small class="d-block g-font-size-default g-mr-10 g-mb-10 g-mb-0--md">2017 © All Rights Reserved.</small>
					<ul class="u-list-inline">
						<li class="list-inline-item"><a class="g-color-white-opacity-0_8 g-color-white--hover" href="disclaimer.html">Disclaimer</a></li>
						<li class="list-inline-item"><span>|</span></li>
						<li class="list-inline-item"><a class="g-color-white-opacity-0_8 g-color-white--hover" href="#">Terms of Use</a></li>
						<li class="list-inline-item"><span>|</span></li>
						<li class="list-inline-item"><a class="g-color-white-opacity-0_8 g-color-white--hover" href="#">License</a></li>
						<li class="list-inline-item"><span>|</span></li>
						<li class="list-inline-item"><a class="g-color-white-opacity-0_8 g-color-white--hover" href="#">Support</a></li>
					</ul>
				</div>
			</div>

		</div>
	</div>
</footer>
<!-- End Copyright Footer -->