<!-- Footer -->
<div id="fb-root"></div>
<script>
	(function(d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id))
			return;
		js = d.createElement(s);
		js.id = id;
		js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.10";
		fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));
</script>
<div class="g-bg-black-opacity-0_1 g-color-black-opacity-0_9 g-py-60">
	<div class="container">
		<div class="row">
			<!-- Footer Content -->
			<div class="col-lg-6 col-md-6 u-divider-center g-mt-30">
				<div class="u-heading-v2-3--bottom g-brd-black-opacity-0_8 g-mb-20">
					<h2 class="u-heading-v2__title h6 text-uppercase mb-0">About Homey</h2>
				</div>

				<p>Homey aims to help youth who are at the risk of being homeless to step out the gloomy life, they can explore more in
					the world, find more and deserve more.</p>
			</div>
			<!-- End Footer Content -->
			

			<!-- Footer Content -->
			<div class="col-lg-6 col-md-6 u-divider-center g-mt-30">
				<div class="u-heading-v2-3--bottom g-brd-black-opacity-0_8 g-mb-20">
					<h2 class="u-heading-v2__title h6 text-uppercase mb-0">Share around the world</h2>
				</div>

				<nav class="text-uppercase1">
					<ul class="list-unstyled  mb-0">
						<ul class="list-inline">
							<li class="list-inline-item">
								<a class="u-icon-v1 g-color-gray-dark-v4 g-bg-secondary g-bg-primary--hover g-color-white--hover rounded-circle"
									href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fhomi.azurewebsites.net%2FhomeyFront%2Findex.html&amp;src=sdkpreparse"
									target="_blank">
									<i class="fa fa-fw fa-facebook" style="margin-left: 5px;"></i>
								</a>
							</li>
							<li class="list-inline-item">
								<a class="u-icon-v1 g-color-gray-dark-v4 g-bg-secondary g-bg-primary--hover g-color-white--hover rounded-circle"
									href="https://www.linkedin.com/shareArticle?mini=true&url=https://homi.azurewebsites.net/homeyFront&title=Homey%20helps%20young%20people%20with%20family%20violence,%20addiction,%20financial%20issue&summary=Homey%20aims%20to%20help%20youth%20who%20are%20at%20the%20risk%20of%20being%20homeless%20to%20step%20out%20the%20gloomy%20life,%20they%20can%20explore%20more%20in%20the%20world,%20find%20more%20and%20deserve%20more.&source=LinkedIn">
									<i class="fa fa-fw fa-linkedin" style="margin-left: 5px;"></i>
								</a>
							</li>
							<li class="list-inline-item">
								<a class="u-icon-v1 g-color-gray-dark-v4 g-bg-secondary g-bg-primary--hover g-color-white--hover rounded-circle" href="https://twitter.com/intent/tweet?text=Homey%20aims%20to%20help%20youth%20who%20are%20at%20the%20risk%20of%20being%20homeless%20to%20step%20out%20the%20gloomy%20life,%20they%20can%20explore%20more%20in%20the%20world,%20find%20more%20and%20deserve%20more.">
									<i class="fa fa-fw fa-twitter" style="margin-left: 5px;"></i>
								</a>
							</li>
						</ul>
					</ul>
				</nav>
			</div>
			<!-- End Footer Content -->

			</div>
			<!-- End Footer Content -->
		</div>
	</div>
</div>
<!-- End Footer -->
<!-- Copyright Footer -->
<footer class="g-bg-gray-dark-v1 g-color-white-opacity-0_8 g-py-20">
	<div class="container">
		<div class="row">
			<div class="col-md-8 text-center text-md-left g-mb-10 g-mb-0--md">
				<div class="d-lg-flex">
					<small class="d-block g-font-size-default g-mr-10 g-mb-10 g-mb-0--md">2017 © All Rights Reserved.</small>
					<ul class="u-list-inline">
						<li class="list-inline-item">
							<a class="g-color-white-opacity-0_8 g-color-white--hover" href="disclaimer.html">Disclaimer</a>
						</li>
					</ul>
				</div>
			</div>

		</div>
	</div>
</footer>
<!-- End Copyright Footer -->