
<nav class="navbar navbar-default navbar-custom">
	<div class="container container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed"
				data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
				aria-expanded="false">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="index.html"
				style="margin-top: -8px; color: white; font:normal 30px 'Cookie', cursive" href="#"> <!--<img style="margin-top: -20px;width: 80px;height: 60px;float: left;"src="images/logoRed.png">-->
				Homey
			</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav" style="margin-left:20px;">
				<li><a href="hobbies.html" class="navbar-category">Hobbies <span
						class="sr-only">(current)</span></a></li>
				<li><a href="#" class="navbar-category">Skills</a></li>
				<li><a href="#" class="navbar-category">Future plan</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#">Login</a></li>
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container-fluid -->
</nav>