<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Homey Hobbies</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Bootstrap -->
<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
<link href="css/customize.css" rel="stylesheet">

<script src="https://www.w3schools.com/lib/w3.js"></script>
	<link rel="stylesheet" href="css/footer/footer-distributed-with-address-and-phones.css">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
	<link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">

<script type="text/javascript" src="js/angular-2.js"></script>
<script type="text/javascript" src="angularDemo.js"></script>
</head>
<div w3-include-html="layout/header.html"></div>
<body>
	<br>
	<div class="container container-custom ">
		<div class="row" ng-app="myApp" ng-controller="getHobbiesCtrl" ng-init="getAllHobbyKind()">
			<div class="col-md-4 col-sm-12" ng-repeat="kind in allHobbyKind" style="margin-top:30px;">
				 <img class="img-fluid" ng-init="hobbykind=1" ng-click="getHobbyDetail(kind.id)"
					style="height: 100%; width: 100%;" ng-src='images/hobbyPotfolio/{{kind.image}}'>
				<h3 style="text-align:center">{{kind.name}}</h3>
			</div>
		</div>
	</div>

</body>
<div w3-include-html="layout/footer.html"></div>
	<script>
		w3.includeHTML();
	</script>
</html>
