<!DOCTYPE html>
<html lang="en">
<head>
<!-- Title -->
<title>Join us</title>

<!-- Required Meta Tags Always Come First -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="x-ua-compatible" content="ie=edge">

<!-- Favicon -->
<link rel="shortcut icon" href="../../favicon.ico">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Caveat+Brush|Courgette|Merienda+One" rel="stylesheet">
<link href="http://fonts.googleapis.com/css?family=Dosis:400,500,700" rel="stylesheet" type="text/css">

<!-- CSS Global Compulsory -->
<link rel="stylesheet" href="unify/vendor/bootstrap/bootstrap.min.css">

<!-- CSS Implementing Plugins -->
<link rel="stylesheet" href="unify/vendor/icon-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="unify/vendor/icon-line-pro/style.css">
<link rel="stylesheet" href="unify/vendor/icon-hs/style.css">
<link rel="stylesheet" href="unify/vendor/icon-line/css/simple-line-icons.css">
<link rel="stylesheet" href="unify/vendor/icon-etlinefont/style.css">
<link rel="stylesheet" href="unify/vendor/animate.css">
<link rel="stylesheet" href="unify/vendor/dzsparallaxer/dzsparallaxer.css">
<link rel="stylesheet" href="unify/vendor/dzsparallaxer/dzsscroller/scroller.css">
<link rel="stylesheet" href="unify/vendor/dzsparallaxer/advancedscroller/plugin.css">
<link rel="stylesheet" href="unify/vendor/cubeportfolio-full/cubeportfolio/css/cubeportfolio.min.css">
<link rel="stylesheet" href="unify/vendor/hs-megamenu/src/hs.megamenu.css">
<link rel="stylesheet" href="unify/vendor/hamburgers/hamburgers.min.css">

<!-- CSS Unify -->
<link rel="stylesheet" href="unify/css/unify.css">

<!-- CSS Customization -->
<link rel="stylesheet" href="unify/css/custom.css">

<!-- W3C embed other html -->
<script src="https://www.w3schools.com/lib/w3.js"></script>


<!-- Angular JS  -->
<script type="text/javascript" src="js/angular-2.js"></script>
<script type="text/javascript" src="angular/hobbyAngular.js"></script>
</head>

<body ng-app="myApp" ng-controller="getHobbiesCtrl">
	<main> <!-- Header --> <header id="js-header"
		class="u-header u-header--static--lg u-header--show-hide--lg u-header--change-appearance--lg" data-header-fix-moment="500"
		data-header-fix-effect="slide">
		<div class="u-header__section u-header__section--light g-bg-white g-transition-0_3 g-py-10"
			data-header-fix-moment-exclude="g-bg-white g-py-10" data-header-fix-moment-classes="g-bg-white-opacity-0_7 u-shadow-v18 g-py-0">
			<nav class="js-mega-menu navbar navbar-toggleable-md">
				<div class="container">
					<!-- Responsive Toggle Button -->
					<button class="navbar-toggler navbar-toggler-right btn g-line-height-1 g-brd-none g-pa-0 g-pos-abs g-right-0" type="button"
						aria-label="Toggle navigation" aria-expanded="false" aria-controls="navBar" data-toggle="collapse" data-target="#navBar">
						<span class="hamburger hamburger--slider">
							<span class="hamburger-box">
								<span class="hamburger-inner"></span>
							</span>
						</span>
					</button>
					<!-- End Responsive Toggle Button -->

					<!-- Logo -->
					<a class="navbar-brand g-font-weight-900 g-font-size-22 font-family-MeriendaOne" href="unify.html">Homey</a>
					<!-- End Logo -->

					<!-- Navigation -->
					<div class="collapse navbar-collapse align-items-center flex-sm-row g-pt-10 g-pt-5--lg" id="navBar">
						<ul class="navbar-nav ml-auto text-uppercase g-font-weight-600 u-main-nav-v8 u-sub-menu-v1">
							<li class="nav-item g-mx-2--md g-mx-5--xl g-mb-5 g-mb-0--lg">
								<a href="familyviolence.html" class="nav-link" id="nav-link-1">Family violence</a>
							</li>
							<li class="nav-item g-mx-2--md g-mx-5--xl g-mb-5 g-mb-0--lg">
								<a href="coming-soon.html" class="nav-link">Alcohol addition</a>
							</li>
							<li class="nav-item g-mx-2--md g-mx-5--xl g-mb-5 g-mb-0--lg">
								<a href="coming-soon.html" class="nav-link">Financial issue</a>
							</li>
							<li class="nav-item active g-mx-2--md g-mx-5--xl g-mb-5 g-mb-0--lg">
								<a href="lonely.html" class="nav-link">Loneliness relief</a>
							</li>
						</ul>
					</div>
					<!-- End Navigation -->
				</div>
			</nav>
		</div>
	</header> <!-- End Header --> <!-- Page Title -->
	<section class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll loaded dzsprx-readyall"
		data-options="{direction: 'reverse', settings_mode_oneelement_max_offset: '150'}">
		<!-- Parallax Image -->
		<div class="divimage dzsparallaxer--target w-100 g-bg-size-cover g-bg-pos-center-center"
			style="height: 120%; background-image: url(img/lonelyness.jpg);"></div>
		<!-- End Parallax Image -->

		<div class="container g-color-white g-z-index-1 g-py-170">
			<h1 class="display-4 g-color-white u-divider-center g-font-weight-900 g-letter-spacing-1 g-mb-25 text-info">Join us, enjoy
				yourself</h1>
			<div class="lead g-line-height-2 g-letter-spacing-0_5">
				<p class="mb-0" style="font-colour: black">
					<br>
					<br>
				</p>
			</div>
		</div>
	</section>
	<!-- End Page Title --> <!-- Cube Portfolio Blocks -->
	<section class="g-bg-gray-light-v5">
		<div class="container g-py-50">
			<div class="text-center g-mb-40">
				<h2 class="h2 g-color-black g-font-weight-700 mb-4">Have fun with your hobbies</h2>
				<div class="d-inline-block g-width-70 g-height-2 g-bg-black mb-4"></div>
			</div>

			<div class="cbp" data-animation="quicksand" data-x-gap="30" data-y-gap="30" ng-init="getAllHobbyKind()"
				data-media-queries='[{"width": 1500, "cols": 3}, {"width": 1100, "cols": 3}, {"width": 800, "cols": 3}, {"width": 480, "cols": 2}, {"width": 300, "cols": 1}]'>
				<!-- Cube Portfolio Blocks - Item -->
				<div id="shortcode" class="cbp-item identity design" ng-repeat="kind in allHobbyKind">
					<div class="u-block-hover g-parent">
						<img class="img-fluid g-transform-scale-1_1--parent-hover g-transition-0_5 g-transition--ease-in-out"
							ng-src='images/hobbyPotfolio/{{kind.image}}' ng-click="getHobbyDetail(kind.id)">
						<div
							class="d-flex w-100 h-100 g-bg-black-opacity-0_6 opacity-0 g-opacity-1--parent-hover g-pos-abs g-top-0 g-left-0 g-transition-0_3 g-transition--ease-in u-block-hover__additional--fade u-block-hover__additional--fade-in g-pa-20">
							<ul class="align-items-end flex-column list-inline mt-auto ml-auto mb-0">
								<li class="list-inline-item">
									<a class="u-icon-v2 u-icon-size--sm g-brd-white g-color-black g-bg-white rounded-circle" href=""
										ng-click="getHobbyDetail(kind.id)">
										<i class="icon-communication-095 u-line-icon-pro"></i>
									</a>
								</li>
								<li class="list-inline-item">
									<a class="cbp-lightbox u-icon-v2 u-icon-size--sm g-brd-white g-color-black g-bg-white rounded-circle"
										href="images/hobbyPotfolio/{{kind.image}}">
										<i class="icon-communication-017 u-line-icon-pro"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="u-shadow-v19 g-bg-white text-center g-pa-25 mb-1">
						<a ng-click="getHobbyDetail(kind.id)" href="">
							<h3 class="h5 g-color-black g-font-weight-600 mb-1">{{kind.name}}</h3>
						</a>
					</div>
				</div>
				<!-- End Cube Portfolio Blocks - Item -->

			</div>
		</div>
	</section>
	<!-- End Cube Portfolio Blocks -->

	<section class="">
		<div class="container g-py-50">
			<div class="text-center g-mb-40">
				<h2 class="h2 g-color-black g-font-weight-700 mb-4">Activities for you</h2>
				<div class="d-inline-block g-width-70 g-height-2 g-bg-black mb-4"></div>
			</div>

			<div class="shortcode-html" ng-init="sendLocation()">
				<!-- Icon Blocks -->
				<div class="row">
					<div class="col-lg-6 g-mb-60">
						<!-- Icon Blocks -->
						<div class="u-shadow-v21 g-brd-around--md g-brd-gray-light-v4 text-center g-px-30 g-pb-20">
							<span class="u-icon-v3 g-color-white g-bg-yellow-lineargradient g-pull-50x-up rounded-circle">
								<i class="icon-weather-001 u-line-icon-pro" style="font-size: 30px;"></i>
							</span>
							<h3 class="h4 g-color-black g-mb-10">Sunny 21&#8451;</h3>
							<form class="g-width-100x--md mx-auto" ng-submit="searchSuburb()">
								<div class="form-group g-mb-20">
									<div class="input-group u-shadow-v6 rounded g-mb-15">
										<input class="form-control form-control-md g-brd-white g-font-size-16 border-right-0 pr-0 g-py-15" type="text"
											placeholder="Enter postcode or suburb">
										<div class="input-group-addon d-flex align-items-center g-bg-white g-brd-white g-color-gray-light-v1 g-pa-2">
											<button class="btn u-btn-primary g-font-size-16 g-py-15 g-px-20" type="submit">
												<i class="icon-magnifier g-pos-rel g-top-1"></i>
											</button>
										</div>
									</div>
									<small class="form-text g-opacity-0_8 g-font-size-default">{{recommend.weather}} today, you may be interested
										in...</small>
								</div>
							</form>
							<!-- Categories -->
							<hr class="g-brd-gray-light-v4 g-my-15">
							<ul class="list-unstyled g-mb-40">
								<li class="my-3" ng-repeat="event in recommend.allEvents">
									<a class="d-flex justify-content-between u-link-v5 g-color-gray-dark-v1 g-parent" href="#">
										{{event.eventType}}
										<span
											class="d-inline-block g-font-size-12 g-min-width-40 g-brd-around g-color-gray-dark-v5 g-brd-gray-light-v3 text-center rounded g-px-10 g-py-3">99</span>
									</a>
								</li>
							</ul>
							<a class="g-font-weight-600 g-font-size-12 g-text-underline--none--hover text-uppercase" href="#">Read More</a>
						</div>
					</div>
					<div class="col-lg-6 g-mb-60">
						<div id="palces" style="display: none">{{recommend.allAddress}}</div>
						<div class="panel panel-default">
							<div class="panel-heading"></div>
							<div class="panel-body">
								<div id="gmap-basic-marker" style="height: 500px; width: 100%;"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Replace the value of the key parameter with your own API key. --> <script async defer
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBk4msAZURGdLH8Cw8fB_YxPmTBkvEQ0FE&callback=initMap"></script>

	<div w3-include-html="layout/footer.html"></div>

	<a class="js-go-to u-go-to-v1" href="#" data-type="fixed"
		data-position='{
           "bottom": 15,
           "right": 15
         }' data-offset-top="400"
		data-compensation="#js-header" data-show-effect="zoomIn">
		<i class="hs-icon hs-icon-arrow-top"></i>
	</a> </main>

	<!-- JS Global Compulsory -->
	<script src="unify/vendor/jquery/jquery.min.js"></script>
	<script src="unify/vendor/jquery-migrate/jquery-migrate.min.js"></script>
	<script src="unify/vendor/tether.min.js"></script>
	<script src="unify/vendor/bootstrap/bootstrap.min.js"></script>

	<!-- JS Implementing Plugins -->
	<script src="unify/vendor/hs-megamenu/src/hs.megamenu.js"></script>
	<script src="unify/vendor/dzsparallaxer/dzsparallaxer.js"></script>
	<script src="unify/vendor/dzsparallaxer/dzsscroller/scroller.js"></script>
	<script src="unify/vendor/dzsparallaxer/advancedscroller/plugin.js"></script>
	<script src="unify/vendor/cubeportfolio-full/cubeportfolio/js/jquery.cubeportfolio.min.js"></script>

	<!-- JS Unify -->
	<script src="unify/js/hs.core.js"></script>
	<script src="unify/js/components/hs.header.js"></script>
	<script src="unify/js/helpers/hs.hamburgers.js"></script>
	<script src="unify/js/components/hs.tabs.js"></script>
	<script src="unify/js/components/hs.cubeportfolio.js"></script>
	<script src="unify/js/components/hs.go-to.js"></script>

	<!-- JS Customization -->
	<script src="unify/js/custom.js"></script>

	<!-- JS Plugins Init. -->
	<script>
		w3.includeHTML();
		// set locations to js variable
		window.onload = initMap;
		var resultsMap;
		function initMap() {
			//addresses = document.getElementById('places').innerText;
			resultsMap = new google.maps.Map(document
					.getElementById('gmap-basic-marker'), {
				zoom : 13,
				center : {
					lat : -37.8136,
					lng : 144.9631
				}
			});
			findCurrentLocation();
			geocoder = new google.maps.Geocoder();
			/* var addressesArray = addresses.split("^");
			for (i = 0; i < addressesArray.length; i++) {
				count=1;
				geocodeAddress(addressesArray[i]);
			} */
		}

		/*****************************************************
		 * find current location
		 */
		function findCurrentLocation() {
			var infoWindow = new google.maps.InfoWindow({
				map : resultsMap
			});
			// Try HTML5 geolocation.
			if (navigator.geolocation) {
				navigator.geolocation.getCurrentPosition(function(position) {
					var pos = {
						lat : position.coords.latitude,
						lng : position.coords.longitude
					};
					// don't need the inforWindow for now
					// infoWindow.setPosition(pos);
					// infoWindow.setContent('You');
					resultsMap.setCenter(pos);
					var Marker = new google.maps.Marker({
						map : resultsMap,
						animation : google.maps.Animation.DROP,
						position : pos,
						icon : "img/indicator.png"
					});
				}, function() {
					handleLocationError(true, infoWindow, resultsMap
							.getCenter());
				});
			} else {
				// Browser doesn't support Geolocation
				handleLocationError(false, infoWindow, resultsMap.getCenter());
			}
		}

		$(document).on('ready', function() {
			// initialization of go to
			$.HSCore.components.HSGoTo.init('.js-go-to');

			// initialization of tabs
			$.HSCore.components.HSTabs.init('[role="tablist"]');
		});

		$(window).on('load', function() {
			// initialization of header
			$.HSCore.components.HSHeader.init($('#js-header'));
			$.HSCore.helpers.HSHamburgers.init('.hamburger');

			// initialization of HSMegaMenu component
			$('.js-mega-menu').HSMegaMenu({
				event : 'hover',
				pageContainer : $('.container'),
				breakpoint : 991
			});

			// initialization of cubeportfolio
			$.HSCore.components.HSCubeportfolio.init('.cbp');
		});

		$(window).on('resize', function() {
			setTimeout(function() {
				$.HSCore.components.HSTabs.init('[role="tablist"]');
			}, 200);
		});
	</script>
</body>
</html>
