/* Add here all your css styles (customizations) */
.font-family-CaveatBrush{
	font-family: 'Caveat Brush', cursive
}

.font-family-Courgette{
	font-family: 'Courgette', cursive
}

.font-family-MeriendaOne{
	font-family: 'Merienda One', cursive
}

.font-bold{
	font-weight: bold
}

