<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>Homey</title>
<!-- Bootstrap core CSS -->
<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom fonts for this template -->
<link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet"
	type="text/css">
<link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic"
	rel="stylesheet" type="text/css">

<!-- Custom styles for this template -->
<link href="css/freelancer.css" rel="stylesheet">

<!-- Angular JS  -->
<script type="text/javascript" src="js/angular-2.js"></script>

<!-- W3C embed other html -->
<script src="https://www.w3schools.com/lib/w3.js"></script>

</head>

<body id="page-top">
	<!-- navigation bar -->
	<!-- the reason why not using template is because of the animation embeded in JS file -->
	<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
		<div class="container">
			<a class="navbar-brand js-scroll-trigger" href="index.html#page-top">Homey</a>
			<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
				data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
				aria-label="Toggle navigation">
				Menu <i class="fa fa-bars"></i>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"><a class="nav-link js-scroll-trigger" href="index.html#portfolio">Hobbies</a></li>
					<li class="nav-item"><a class="nav-link js-scroll-trigger" href="event.html#event">Events</a></li>
					<li class="nav-item"><a class="nav-link js-scroll-trigger" href="future.html#future">Future plan</a></li>
					<li class="nav-item"><a class="nav-link js-scroll-trigger" href="#login">Login</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<!-- Header -->
	<header id="login" style="margin-top: 150px;" ng-app="loginApp" ng-controller="loginCtrl">
		<div class="container">
			<div class="row">
				<div class="col-md-3"></div>
				<div class="col-md-6">
					<!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
					<form name="myForm" ng-submit="submit()" novalidate>
						<div class="control-group">
							<div class="form-group floating-label-form-group controls">
									<label>Email Address</label>
									<input class="form-control" type="email" name="email" ng-model="email" placeholder="Email Address" required> 
									<span style="color: red" ng-show="myForm.email.$dirty && myForm.email.$invalid"> 
										<span ng-show="myForm.email.$error.required">Email is required.</span> 
										<span ng-show="myForm.email.$error.email">Invalid email address.</span>
									</span>
							</div>
						</div>
						<div class="control-group">
							<div class="form-group floating-label-form-group controls">
									<label>Password</label>
									<input class="form-control" type="password" name="password" ng-model="password" placeholder="Password" required> 
									<span style="color: red" ng-show="myForm.password.$dirty && myForm.password.$invalid"> 
										<span ng-show="myForm.password.$error.required">Password is required.</span> 
									</span>
							</div>
						</div>
						<br> <br>
						<div class="form-group">
							<button type="submit" id="submit" class="btn btn-success btn-lg" value="submit"
								style="width: 100%"
								ng-disabled=" myForm.email.$invalid ||  myForm.password.$invalid" >Login </button>
						</div>
					</form>
				</div>
				<div class="col-md-3"></div>
			</div>
		</div>
	</header>


	<script>
		var app = angular.module('myApp', []);
		app.controller('validateCtrl', function($scope) {
			$scope.user = 'John Doe';
			$scope.email = 'john.doe@gmail.com';
		});
	</script>

	<!-- Footer -->
	<div style="margin-top: 100px;" w3-include-html="layout/footer2.html"></div>

	<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
	<div class="scroll-top d-lg-none">
		<a class="btn btn-primary js-scroll-trigger" href="#page-top"> <i class="fa fa-chevron-up"></i>
		</a>
	</div>

	<!-- Embed header or footer -->
	<script>
		w3.includeHTML();

		var loginApp = angular.module("loginApp", []);
		loginApp.controller("loginCtrl", function($scope, $http) {
			$scope.submit = function() {
				console.log($scope.email);
				$http({
					method : 'POST',
					url : 'http://localhost:8080/homeyBack/loginServlet',
					params: {
						email: $scope.email,
						password: $scope.password
					}
				}).then(function successCallback(response) {
					$scope.loginMsg = response.data;
					// loginMsg: 1 success; 0 fail
					if ($scope.loginMsg[0].status == 1) {
						// redirect to personal page
						window.location.href = "http://localhost:8080/homeyFront";
						// https://stackoverflow.com/questions/14206492/how-do-i-store-a-current-user-context-in-angular
					} else if ($scope.loginMsg[0].status == 0) {
						// alert warning, wrong password or email
						alert("Wrong email or password");
					}
				}, function errorCallback(response) {
					alert("Connection error.");
				});
			};
		});
	</script>

	<!-- Bootstrap core JavaScript -->
	<script src="vendor/jquery/jquery.min.js"></script>
	<script src="vendor/popper/popper.min.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>

	<!-- Plugin JavaScript -->
	<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

	<!-- Custom scripts for this template -->
	<script src="js/freelancer.min.js"></script>
</body>

</html>
